body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    text-align: center;
    
    border:10px solid rgb(250, 126, 110);
}


h3{
    color:rgb(59, 26, 26);
}

img{
    width: 98%;
}


li{
    padding: 10px;
    background-color: rgb(190, 223, 231);
    margin: 1em;
}